<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container">
		<h2>Formulaire d'enregistrement</h2>
		<form action="/" th:action="@{/personne}" th:object="${personne}" 	method="post">
			<div class="form-group">
				<label for="name">Name:</label> <input type="text"
					class="form-control" id="name" placeholder="Entrer le nom" name="name" th:field="*{name}">
				<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
          </div>
			<div class="form-group">
				<label for="email">Email:</label> <input type="email"
					class="form-control" id="email" placeholder="Enter email"
					name="email" th:field="*{email}">
				<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
			</div>
			<div class="form-group">
				<label for="datenaissance">Date de naissance:</label> 
				<input type="text" class="form-control" id="datenaissance" 
					placeholder="JJ/MM/AAAA" name="datenaissance" th:field="*{datenaissance}">
			 		
				<p th:if="${#fields.hasErrors('datenaissance')}"  th:errors="*{datenaissance}"></p>
			</div>
			<div class="checkbox">
				<label><input type="checkbox"> Remember me</label>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
		
	</div>
</body>
</html>